* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.m-20 {
    margin: 20px 0;
} 

.container {
    margin: auto;
    width: 1400px;
}

#button-generate-ticket, #button-reset {
    cursor: pointer;
}