/* Reset */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Utility */
.hidden {
    visibility: hidden;
}
.bg-green {
    background-color:seagreen;
}
.text-green {
    color: seagreen;
}
#ticket-info .row  {
    height: 20vh;
}
.bg-white-smoke {
    background-color:rgb(182, 182, 182);
}
.bg-ligh-gray {
    background-color: lightgray;
}
